<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Serving Web Content</title>
    <meta http-equiv="text-type" text="text/html" charset="UTF-8">
    <style type="text/css">
        .block1 {
        width: 300px;
        height: 200px;
        backround: #ccc;
        padding: 5px;
        padding-right: 20px;
        border: solid 1px black;
        float: left;
        position: relative;
        left: 600px;
        top: 300px;
        }
    </style>
</head>
<body>

<div class="block1"><h1>Здравствуйте! <br> Введите свое имя </h1>

<form action="/chat" method="post">
    <input type="text" name="fullName">
    <input type="submit" value="Зарегистрироваться"/>
</form>

</div>

</body>
</html>